<div class="jumbotron">
    <h1>Seguros Lafise</h1>
    <p class="lead">Esta es una pequeña aplicación Web MVC. El objetivo principal es registrar pólizas.</p>
    <p><a href="/../Polizas/Index" class="btn btn-primary btn-lg">Ir a las polizas &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Catálogo de tipos de seguros</h2>
        <p>
            Para poder definir el valor de cada tipo de seguro, entre a la administración de su respectivo catálogo.
        </p>
        <p><a class="btn btn-default" href="/../Seguros/Index">Ir al catálogo &raquo;</a></p>
    </div>
</div>
